.profile-container {
  background: rgb(229, 226, 226);
  padding: 60px 50px;
}

.profile-col {
  /* height: 30%; */
  transition: all .3s ease-out;
  
}

.home__profile-img {
  padding: 0;
  width: 150px;
  height: 170px;
}

.home__profile-text {
  color: rgb(70, 66, 66);
  font-size: 22px;
  padding-top: 40px;
  height: 28px;
  width: 300px;
  text-align: center;
}

.home__profile-shorttext {
  color: rgb(83, 82, 82);
  font-size: 18px;
  padding: 50px;
  text-align: center;
}

.home__profile-description {
  color: rgb(110, 107, 103);
  font-size: 16px;
  width: 80%;
  padding-top: 50px;
}



@media screen and (max-width: 991px) {
  .profile-container {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media screen and (max-width: 768px) {
  .home__profile-text {
    padding-bottom: 65px;
  }
  .profile-col {
    max-width: 100%;
    flex-basis: 100%;
  }
}